html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

/*Estilo geral tanto da navbar header quanto footer*/
.navbar{
  display: flex;
  justify-content: space-between;
}
.navbar#footer{
  background-color:rgba(242, 242, 242, 0.3);
  border: 1px solid;
  border-color: rgba(242, 242, 242, 0.8);
  border-radius: 3px;
}
.navbar ul{
  list-style-type: none;
  margin: 26px;  
  padding: 0;
}
.navbar ul li{
  display: inline;
  padding: 13px;
}
.navbar ul li a{
  font-size: 15px;
  text-decoration: none;
  color: black;
}
.navbar ul li a:hover{
  text-decoration: underline;
}

.main-content{
  height: calc(100% - (72.4px + 70.4px));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 
.center-page{
  
  margin-bottom: 271px;
  
} 

