html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*Estilo geral tanto da navbar header quanto footer*/

.navbar {
  display: flex;
  justify-content: space-between;
  min-width: 900px;
}

.navbar#footer {
  background-color: #f2f2f2;
  border: 1px solid;
  border-color: rgba(242, 242, 242, 1);
  border-radius: 3px;
}


.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 10px;
  display: flex;
 
}

.navbar ul li {
  display: inline;
  padding: 13px;
}

.navbar ul li a {
  font-size: 13px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar ul li.signin-box a{
  background-color: #4285f4;
  padding: 9px;
  color: #fff;
  font-weight: bolder;
  border: 1px solid;
  border-color: #4285f4;
  border-radius: 3px;
  ;
  
}

#footer a{
  color: rgb(0,0,0,.70);
}
#footer ul{
  margin-top: 12px;
}
.header a{
  color: rgb(0,0,0,.75);
}

.navbar ul li a:hover {
  text-decoration: underline;
}

.main-content {
  height: calc(100% - (48.4px + 50.4px));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 900px;
}

.center-page {
  margin-bottom: 268px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-lucky-submit {
  position: relative;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 580px;
  height: 40px;
  border-radius: 100px;
  border: 1px solid;
  border-color: rgba(128, 128, 128, 0.5);
}

.search-lucky-submit .search-bar {
  width: 520px;
  height: 28px;
  border: none;
  
}
.search-lucky-submit .search-bar:focus {
  outline: none;
  
}

.app-icon #app-image{
  width: 20px;
  height: 20px;
}

.buttons{
  margin-top: 40px;  
}
.buttons input{
  margin-right: 5px;
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid;
  border-color: #f2f2f2;
  border-radius: 3px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #5f6368;
}

.buttons input:hover{
  color: black;
  border-color: #c6c6c6;
}



#logo{
  margin-top: 30px;
}
 
#mag-glass {
  width: 13px;
  height: 13px;
  margin-right: 7px;
  margin-left: 3px;
} 